
/* Task3 */
    /* body {
        background-image: url("img1.jpg");
        background-size: cover;
        color: white;
        /* background-repeat: no-repeat; 
        background-attachment: fixed;
        
       } */


/* Task 4*/
